### 2023년 08월 08일 화요일

---
**Programmers - 진료과별 총 예약 횟수 출력하기 (MySQL)** <br />
[문제](https://school.programmers.co.kr/learn/courses/30/lessons/132202) 
```
 APPOINTMENT 테이블에서 2022년 5월에 예약한 환자 수를 진료과코드 별로 조회하는 SQL문을 작성해주세요. 이때, 컬럼명은 '진료과 코드', '5월예약건수'로 지정해주시고 결과는 진료과별 예약한 환자 수를 기준으로 오름차순 정렬하고, 예약한 환자 수가 같다면 진료과 코드를 기준으로 오름차순 정렬
```

In [ ]:
SELECT
    ANIMAL_TYPE
    ,IFNULL(NAME, 'No name') AS NAME
    ,SEX_UPON_INTAKE
FROM 
    ANIMAL_INS 
ORDER BY ANIMAL_ID

```
SELECT CustomerID, SUM(OrderAmount) AS TotalAmount
FROM Orders
GROUP BY CustomerID;
위의 쿼리에서:

SELECT CustomerID, SUM(OrderAmount) AS TotalAmount: 'CustomerID' 컬럼과 주문 총액을 합한 값을 'TotalAmount'라는 별칭으로 선택합니다.

FROM Orders: 'Orders' 테이블에서 데이터를 가져옵니다.

GROUP BY CustomerID: 'CustomerID' 컬럼 값을 기준으로 데이터를 그룹화합니다. 즉, 동일한 고객별로 데이터가 하나의 그룹으로 묶입니다.
```