### 2023년 07월 13일 목요일

---
**Programmers - 이름이 있는 동물의 아이디 (MySQL)** <br />
[문제](https://school.programmers.co.kr/learn/courses/30/lessons/59407) : 이름이 있는 동물의 ID를 조회하는 SQL 문 <br /> *ID는 오름차순 정렬*

In [ ]:
SELECT 
    ANIMAL_ID
FROM 
    ANIMAL_INS 
WHERE 
    NAME IS NOT NULL
ORDER BY
    ANIMAL_ID