### 2023년 07월 17일 월요일
---
**Programmers - 자동차 대여 기록에서 장기/단기 대여 구분하기 (MySQL)** <br />
[문제](https://school.programmers.co.kr/learn/courses/30/lessons/151138) : 
```
CAR_RENTAL_COMPANY_RENTAL_HISTORY 테이블에서 대여 시작일이 2022년 9월에 속하는 대여 기록에 대해서 대여 기간이 30일 이상이면 '장기 대여' 그렇지 않으면 '단기 대여' 로 표시하는 컬럼(컬럼명: RENT_TYPE)을 추가하여 대여기록을 출력하는 SQL문을 작성해주세요. 결과는 대여 기록 ID를 기준으로 내림차순 정렬
```

In [ ]:
SELECT 
    HISTORY_ID
    ,CAR_ID
    ,DATE_FORMAT (START_DATE, "%Y-%m-%d") AS START_DATE
    ,DATE_FORMAT (END_DATE, "%Y-%m-%d") AS END_DATE
    ,
CASE WHEN DATEDIFF(END_DATE, START_DATE) < 29 then '단기 대여' 
            ELSE '장기 대여' 
            END AS  RENT_TYPE
FROM 
    CAR_RENTAL_COMPANY_RENTAL_HISTORY
WHERE 
    START_DATE LIKE '2022-09-%'
ORDER BY 
    HISTORY_ID DESC;

In [ ]:
# CASE문 사용 방법

CASE
	WHEN 조건1 THEN 결과값1
	WHEN 조건2 THEN 결과값2
	WHEN 조건N THEN 결과값N
	ELSE 결과값
END