### 2023년 07월 13일 목요일

---
**Programmers - 여러 기준으로 정렬하기 (MySQL)** <br />
[문제](https://school.programmers.co.kr/learn/courses/30/lessons/59404) : 모든 동물의 아이디와 이름, 보호 시작일을 이름 순으로 조회하는 SQL문 <br />*이름이 같은 동물 중에서는 보호를 나중에 시작한 동물을 먼저 보여줘야 합니다.*

In [ ]:
SELECT 
    ANIMAL_ID
    ,NAME
    ,DATETIME
FROM 
    ANIMAL_INS 
ORDER BY NAME,DATETIME DESC