### 2023년 07월 13일 목요일

---
**Programmers - 상위 n개 레코드 (MySQL)** <br />
[문제](https://school.programmers.co.kr/learn/courses/30/lessons/59405) : 가장 먼저 들어온 동물의 이름을 조회하는 SQL 문

In [ ]:
SELECT
    NAME 
FROM 
    ANIMAL_INS
ORDER BY 
    DATETIME
LIMIT 1