### 2023년 07월 17일 월요일
---
**Programmers - 특정 옵션이 포함된 자동차 리스트 구하기 (MySQL)** <br />
[문제](https://school.programmers.co.kr/learn/courses/30/lessons/157343) : 
```
CAR_RENTAL_COMPANY_CAR 테이블에서 '네비게이션' 옵션이 포함된 자동차 리스트를 출력하는 SQL문을 작성해주세요. 결과는 자동차 ID를 기준으로 내림차순 정렬
```

In [ ]:
SELECT
    *
FROM 
    CAR_RENTAL_COMPANY_CAR
WHERE 
    OPTIONS LIKE '%네비게이션%'
ORDER BY
    CAR_ID DESC