### 2023년 07월 13일 목요일

---
**Programmers - 역순 정렬하기 (MySQL)** <br />
[문제](https://school.programmers.co.kr/learn/courses/30/lessons/59035) : 모든 동물의 이름과 보호 시작일을 조회하는 SQL문 *결과는 ANIMAL_ID 역순*

In [ ]:
SELECT 
    NAME
    ,DATETIME
FROM ANIMAL_INS 
ORDER BY 
    ANIMAL_ID DESC