### 2023년 07월 14일 금요일
---
**Programmers - 평균 일일 대여 요금 구하기 (MySQL)** <br />
[문제](https://school.programmers.co.kr/learn/courses/30/lessons/151136) : 
```
CAR_RENTAL_COMPANY_CAR 테이블에서 자동차 종류가 'SUV'인 자동차들의 평균 일일 대여 요금을 출력하는 SQL문을 작성해주세요. 이때 평균 일일 대여 요금은 소수 첫 번째 자리에서 반올림하고, 컬럼명은 AVERAGE_FEE 로 지정
```

In [ ]:
SELECT
     ROUND(AVG(DAILY_FEE)) AS AVERAGE_FEE
FROM 
    CAR_RENTAL_COMPANY_CAR 
WHERE 
    CAR_TYPE = 'SUV'

#### NOTE 

- ROUND 함수 : 반올림
    - ROUND(컬럼명) - 소수점 1번째 자리에서 반올림 (123.7 → 124)
    - ROUND(컬럼명, 1) - 출력할 소수점 자리 지정 (123.75 → 123.8)
- ROUND(컬럼명, -1) - 10단위로 반올림 (123 → 120)
    - TRUNCATE 함수 : 버림
    - TRUNCATE(컬럼명, 1) - 반드시 버릴 자릿수 명시해야 함
- FLOOR 함수 : 버림
    - FLOOR(컬럼명) - 소수점 아래 버림