### 2023년 07월 13일 목요일
---
**Programmers - 경기도에 위치한 식품창고 목록 출력하기 (MySQL)** <br />
[문제](https://school.programmers.co.kr/learn/courses/30/lessons/131114) :  창고의 ID, 이름, 주소, 냉동시설 여부를 조회하는 SQL문 <br />
*창고 ID를 기준으로 오름차순 정렬*

In [ ]:
SELECT 
    WAREHOUSE_ID
    ,WAREHOUSE_NAME
    ,ADDRESS
    ,IFNULL(FREEZER_YN, 'N') AS FREEZER_YN
FROM 
    FOOD_WAREHOUSE
WHERE 
    WAREHOUSE_NAME LIKE '%창고_경기%'
ORDER BY 
    WAREHOUSE_ID

In [ ]:
MySQL에서 Column의 값이 Null인 경우를 처리해주는 함수들은 IFNULL, CASE, COALESCE