### 2023년 07월 13일 목요일

---
**Programmers - 어린 동물 찾기 (MySQL)** <br />
[문제](https://school.programmers.co.kr/learn/courses/30/lessons/59037) : 동물 중 젊은 동물의 아이디와 이름을 조회하는 SQL 문 <br /> *결과는 아이디 순*

In [ ]:
SELECT 
    ANIMAL_ID
    ,NAME
FROM 
    ANIMAL_INS 
WHERE 
    INTAKE_CONDITION != 'Aged'
ORDER BY
    ANIMAL_ID