### 2023년 07월 13일 목요일
---
**Programmers - 12세 이하인 여자 환자 목록 출력하기 (MySQL)** <br />
[문제](https://school.programmers.co.kr/learn/courses/30/lessons/132201) :  12세 이하인 여자환자의 환자이름, 환자번호, 성별코드, 나이, 전화번호를 조회하는 SQL문 <br />
*전화번호가 없는 경우, 'NONE'으로 출력* <br/>
*결과는 나이를 기준으로 내림차순 정렬하고, 나이 같다면 환자이름을 기준으로 오름차순 정렬*

In [ ]:
SELECT
    PT_NAME
    ,PT_NO
    ,GEND_CD
    ,AGE
    ,IFNULL(TLNO, 'NONE') AS TLNO
FROM 
    PATIENT
WHERE 
    AGE <= 12 AND GEND_CD = 'W'
ORDER BY 
    AGE DESC , PT_NAME ASC

In [ ]:
IFNULL 해당 컬럼을 조회했을때, NULL이면 보여줄 TEXT 그 외 COALESCE / ISNULL 이러한 함수도 존재함.