### 2023년 07월 14일 금요일
---
**Programmers - 조건에 맞는 도서 리스트 출력하기 (MySQL)** <br />
[문제](https://school.programmers.co.kr/learn/courses/30/lessons/144853) : 
```
2021년에 출판된 '인문' 카테고리에 속하는 도서 리스트를 찾아서 도서 ID(BOOK_ID), 출판일 (PUBLISHED_DATE)을 출력하는 SQL문을 작성해주세요.
결과는 출판일을 기준으로 오름차순 정렬
```

In [ ]:
SELECT 
    BOOK_ID
    ,DATE_FORMAT(PUBLISHED_DATE,'%Y-%m-%d') AS PUBLISHED_DATE
FROM 
    BOOK    
WHERE 
    CATEGORY = '인문'
AND 
    PUBLISHED_DATE LIKE '2021%'
ORDER BY
    PUBLISHED_DATE ASC

In [ ]:
SELECT 
    BOOK_ID
    ,DATE_FORMAT(PUBLISHED_DATE, '%Y-%m-%d') AS PUBLISHED_DATE
FROM 
    BOOK
WHERE 
    DATE_FORMAT(PUBLISHED_DATE, '%Y') = '2021' 
    AND CATEGORY = '인문'
ORDER BY 
    PUBLISHED_DATE