### 2023년 07월 13일 목요일
---
**Programmers - 조건에 맞는 회원수 구하기 (MySQL)** <br />
[문제](https://school.programmers.co.kr/learn/courses/30/lessons/131535) :  2021년에 가입한 회원 중 나이가 20세 이상 29세 이하인 회원이 몇 명인지 출력하는 SQL문

In [ ]:
SELECT
    COUNT(USER_ID) AS USERS
FROM 
    USER_INFO
WHERE 
    AGE <= 29 AND AGE >= 20 AND JOINED LIKE '2021%'
    
SELECT 
    COUNT(USER_ID) as USERS
FROM USER_INFO
WHERE 
    year(JOINED) = 2021 
    AND age BETWEEN 20 AND 29;

In [ ]:
BETWEEN / year 까먹지 말기 !